<div class="p-5 w-96">
  <div class="flex justify-between">
    <p class="text-lg">Crear Tipo Habitacion</p>
    <button (click)="onNoClick()" class="cursor-pointer hover:text-red-500 transition-colors">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <form (ngSubmit)="updateHabitacion()" [formGroup]="formHabitacion">
    <mat-form-field class="example-full-width">
      <mat-label>Numero Habitacion</mat-label>
      <input matInput type="text" placeholder="Numero Habitacion"
        [value]="getFindOneHabitacion.value()?.numero_habitacion" formControlName="numero_habitacion" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Categoria Habitacion</mat-label>
      <mat-select [value]="getFindOneHabitacion.value()?.id_categoria" formControlName="id_categoria">
        @for (category of getTipoHabitacion.value(); track category.id) {
        <mat-option [value]="category.id">
          {{category.nombre}}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Estado Habitacion</mat-label>
      <mat-select [value]="getFindOneHabitacion.value()?.id_estado_habitacion" formControlName="id_estado_habitacion">
        @for (category of getEstadoHabitacion.value(); track category.id) {
        <mat-option [value]="category.id">
          {{category.nombre}}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <textarea matInput placeholder="Descripcion..." formControlName="descripcion"
        [value]="getFindOneHabitacion.value()?.descripcion" formControlName="descripcion"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Servicios incluidos</mat-label>
      <textarea matInput placeholder="Servicios incluidos" formControlName="servicios_incluidos"
        [value]="getFindOneHabitacion.value()?.servicios_incluidos" formControlName="servicios_incluidos"></textarea>
    </mat-form-field>

    <div class="flex justify-end gap-x-3">
      <button (click)="onNoClick()"
        class="cursor-pointer hover:text-red-500 transition-colors flex gap-x-1 text-green-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
        Cancel
      </button>
      <button
        class="flex items-center gap-x-1 bg-green-500 text-white px-3 py-1 rounded-xl hover:bg-green-600 transition-colors cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        Save
      </button>
    </div>
  </form>
</div>